<div [ngClass]="(categoryName =='Gameplay') ? 'category__section--gameplay' : 
                  (categoryName=='World') ? 'category__section--world' : 
                  (categoryName=='Characters') ? 'category__section--characters' :
                  (categoryName=='Lore') ? 'category__section--lore' : 
                  (categoryName=='Builds') ? 'category__section--builds' :
                  (categoryName=='Random') ? 'category__section--random' : 'category__section'">
 <div class="category__content container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <h1 class="text-center">
        <small>{{ categoryName }} Category</small>
      </h1>
      <app-create-post *ngIf="authService.isLoggedIn === true"></app-create-post>
      <div *ngFor='let post of postData' class="posts card card--background-transparent mb-4">
        <div class="card-body">
          <a href="category/{{route.snapshot.params['name']}}/posts/{{post.pid}}"><h3 class="card-title">{{post.title}}</h3></a>
          <img *ngIf="post.postPhotoURL !== null && post.postPhotoURL !== ''" class="card-img-top card-img-compact" src="{{post.postPhotoURL}}" alt="postImage.jpg">
          <p class="card-text mt-2">{{post.description}}</p>
          <hr/>
          <div class="pl-2 pr-2 text-muted">
            Posted on {{post.createdAt.toDate() | date: 'dd-MMM-yyyy'}} by
            <a href="user/{{post.uid}}">{{post.displayName}}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="widgets col-md-4 col-sm-12 col-xs-12">
      <div class="widgets__wrapper">
      <!-- Search Widget -->
      <div class="card card--background-transparent search__card">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn" type="button"><fa name='fas fa-search'></fa></button>
            </span>
          </div>
        </div>
      </div>
      <!-- Categories Widget -->
      <div class="card card--background-transparent my-4">
        <h5 class="card-header">Other Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li *ngFor='let category of categories'>
                  <a *ngIf='category.payload.doc.data().name != categoryName' routerLink="/{{ category.payload.doc.data().url_path }}">{{ category.payload.doc.data().name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side Widget -->
      <div class="card card--background-transparent my-4">
        <h5 class="card-header">Rules</h5>
        <div class="card-body">
          <ul>
            <li>Keep the posts relevant to the category</li>
            <li>Be respectful</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>