<div class="comment-box col-md-8 mb-4 clearfix">
  <span>Edit comment</span>
  <form [formGroup]="commentForm" (ngSubmit)="tryUpdateComment(commentForm.value)">
    <textarea formControlName="comment" *ngIf="comment != null" value="{{comment.comment}}"></textarea>
    <div class="comment-box--footer">
      <span *ngIf="errorMessage != null && errorMessage != '' && commentForm.invalid" class="text-danger">{{errorMessage}}</span>
      <input [ngClass]="commentForm.invalid ? 'btn-disabled' : ''" value="Update" type="submit" [disabled]='commentForm.invalid'/><input value="Cancel" type="reset" (click)="cancelUpdateComment(comment)"/>
    </div>
  </form>
</div>