<div id="author">
    <section class="page-section bg-grey">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="mt-0">Author</h2>
              <hr class="my-4">
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 pb-4">
              <img src="../../../assets/images/author.jpg" alt="author.jpg">
            </div>
            <div class="col-lg-8">
              <p class="font-italic">Hello, I'm Andreja Nikodijevic.
                  I'm still a student at College of Professional Studies in Information and Communication Technologies.
                  I'm also working for Scripttic d.o.o part time as a junior software engineer. I'm working on becoming a decent web developer.</p>
              <div class="m-2">Some technologies i have experience with: </div>
              <ul>
                <li>PHP (including framework Laravel)</li>
                <li>JavaScript (including Angular framework)</li>
                <li>Java</li>
                <li>C++</li>
                <li>C# (including ASP.NET)</li>
                <li>MySQL</li>
                <li>Firebase (NoSQL)</li>
                <li>ESB technologies (Talend)</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>
          </div>
      </div>
    </section>
</div>
