<div class="comments">
  <div *ngFor="let comment of comments" class="comment">
    <div class="user-section"><a href="user/{{comment.uid}}"><img *ngIf="comment.photoURL != null && comment.photoURL != ''" class="avatar" src="{{comment.photoURL}}" alt="userAvatar.jpg"/><img *ngIf="comment.photoURL == null || comment.photoURL == ''" class="avatar" src="../../../../../assets/images/placeholders/placeholder_avatar.jpg" alt="userAvatar.jpg"/>{{comment.displayName}}</a><span class="text-muted"> {{timeElapsed(comment.createdAt.toDate())}}</span></div>
    <div class="user-comment p-3">{{comment.comment}}</div>
  </div>
</div>