<div class="login__form">
  <div class="login__form--rectangle"></div>
  <div class="login__form__container">
    <section class="login-section">
      <h3 class='form-title text-center position-relative'>Login</h3>
      <hr class="dark my-8 position-relative"/>
      <form [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">
        <div class='container form-wrapper'>
        <div class='form-body'>
          <input class='col-12' type='email' name='email' placeholder='Email' formControlName="email" required email/>
          <input class='col-12' type='password' name='password' placeholder='Password' formControlName="password" required/>
        </div>
        <div class='login-button'>
          <input [ngClass]="loginForm.invalid ? 'btn-disabled' : ''" class='col-12' type='submit' name='btnSubmit' value='Login' [disabled]='loginForm.invalid'/>
        </div>
        </div>
        <span class="text-danger">{{errorMessage}}</span>
      </form>
      <div>
        <span>Don't have an account? <a routerLink="/register">Register</a></span>
      </div>
    </section>
    <a class="link-home" routerLink="/"><fa name="fas fa-angle-left fa-2x"></fa></a>
  </div>
</div>