<section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Need to contact us?</h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto font-italic pb-4">
          If you got any propositions, reports or anything you want to discuss about the forum you may do so by contact us on our mail.
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <fa name="fas fa-envelope fa-3x mb-3"></fa>
          <a class="d-block" href="mailto:andreja.nikodijevic.193.15@ict.edu.rs">divinityforum@gmail.com</a>
        </div>
      </div>
    </div>
  </section>