<section id="categories" class='position-relative'>
    <div class="categories container-fluid p-0">
      <div class="row no-gutters">
        <div class="category-card col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <img src="../assets/images/thumbnails/thumbnail_gameplay.jpg" alt="image_alt">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Gameplay
              </div>
            </div>
          </a>
        </div>
        <div class="category-card col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img src="../assets/images/thumbnails/thumbnail_world.jpg" alt="image_alt">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Category
                </div>
                <div class="project-name">
                  World
                </div>
              </div>
            </a>
        </div>
        <div class="category-card col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img src="../assets/images/thumbnails/thumbnail_characters.jpg" alt="image_alt">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Category
                </div>
                <div class="project-name">
                  Characters
                </div>
              </div>
            </a>
        </div>
        <div class="category-card col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img src="../assets/images/thumbnails/thumbnail_lore.jpg" alt="image_alt">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Category
                </div>
                <div class="project-name">
                  Lore
                </div>
              </div>
            </a>
        </div>
        <div class="category-card col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img src="../assets/images/thumbnails/thumbnail_builds.jpg" alt="image_alt">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Category
                </div>
                <div class="project-name">
                  Builds
                </div>
              </div>
            </a>
        </div>
        <div class="category-card col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img src="../assets/images/thumbnails/thumbnail_random.jpg" alt="image_alt">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Category
                </div>
                <div class="project-name">
                  Random
                </div>
              </div>
            </a>
          </div>
      </div>
    </div>
  </section>