<app-navigation></app-navigation>
<div [ngClass]="(categoryName =='Gameplay') ? 'category__section--gameplay' : 
                (categoryName=='World') ? 'category__section--world' : 
                (categoryName=='Characters') ? 'category__section--characters' :
                (categoryName=='Lore') ? 'category__section--lore' : 
                (categoryName=='Builds') ? 'category__section--builds' :
                (categoryName=='Random') ? 'category__section--random' : 'category__section'">
    <div class="category__content container">
    <div class="row">
      <div class="post col-md-12">
        <div class="card card--background-transparent mb-4">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <img *ngIf="post.postPhotoURL != null && post.postPhotoURL != ''" class="card-img-top card-img-compact" src="{{post.postPhotoURL}}" alt="postImage.jpg">
            <p class="card-text mt-2">{{post.description}}</p>
            <div class="pl-2 pr-2 text-muted post-user">
              Posted on {{post.createdAt.toDate() | date: 'dd-MMM-yyyy'}} by <span class="user-section"><a href="user/{{post.uid}}"><img *ngIf="post.userPhotoURL != null && post.userPhotoURL != ''" class="avatar" src="{{post.userPhotoURL}}" alt="userAvatar.jpg"/><img *ngIf="post.userPhotoURL == null || post.userPhotoURL == ''" class="avatar" src="../../../../../assets/images/placeholders/placeholder_avatar.jpg" alt="userAvatar.jpg"/>{{post.displayName}}</a></span>
            </div>
          </div>
        </div>
      <app-comment-box *ngIf="authService.isLoggedIn == true" [categoryId]="categoryId" [postId]="postId" (commentEvent)="commentEvent($event)"></app-comment-box>
      <app-comments-section [categoryId]="categoryId" [postId]="postId" [comment]="comment"></app-comments-section>
    </div>
    </div>
    </div>
</div>
<app-footer></app-footer>