<section id="categories" class='position-relative'>
  <div class="categories container-fluid p-0">
    <div class="row no-gutters">
      <div class="category-card col-lg-4 col-sm-6" *ngFor="let category of categories">
        <a class="portfolio-box" routerLink="{{category.link}}">
          <img src="../assets/{{category.imagePath}}" alt="{{category.imageAlt}}">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Category
            </div>
            <div class="project-name">
              {{category.name}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>