.postForm--body > input, textarea {
    display: block;
    margin: 0px auto;
    width: 100%;
}

.postForm--body > :nth-child(1) {
    background-color: transparent;
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    outline: none;
    font-size: 22px;
}

.postForm--body > :nth-child(3) {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
    min-height: 100px;
    max-height: 350px;
}

.postForm--footer input {
    border: unset;
    background-color: transparent;
    padding: 5px;
    float: right;
}

.postForm--footer span{
   
} 


.postForm--footer > input[type='submit']{
    background-color: #333;
    color: #fff;
}

.postForm--footer > input[type='reset'] {
    color: #d62222;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn-disabled{
    background-color: #aaa !important;
}

