<div id="about">
    <section class="page-section bg-primary">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1 class="mt-0">Divinity: Original Sin II</h1>
            <hr class="dark my-8">
            <p class="mb-4">Get into this fantasy world alone or with friends and enjoy Dungeons&Dragons style RPG game made by Larian Studios.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">About</h2>
            <hr class="dark my-8">
            <p class="mb-4">This is a fan made forum dedicated to discussions on this games topics where fans alike can exchange information on the variety of things.</p>
          </div>
        </div>
      </div>
    </section>
  </div>