.back-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d62222;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 15px;
}

@media (max-width: 425px){
    .back-btn{
        position: absolute;
        top: 155px;
        left: 20px;
    }
}